streamlit
langchain
langchain-community
langchain-huggingface # Pode ser necessário dependendo da versão do langchain
faiss-cpu # Ou faiss-gpu se tiver GPU e CUDA configurados
pypdf
sentence-transformers # Necessário para HuggingFaceEmbeddings
python-dotenv

